<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastro do Usuário</legend>

<!-- Email input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idDepto">Email</label>
  <div class="col-md-5">
  <input id="idEmail" name="idEmail" type="text" placeholder="Digite seu email" class="form-control input-md" required="" #email>

  </div>
</div>

<!-- Login input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idUsuario">Login</label>
  <div class="col-md-5">
  <input id="idLogin" name="idLogin" type="text" placeholder="Login do usuario" class="form-control input-md" required="" #login>

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idSenha">Senha</label>
  <div class="col-md-5">
    <input id="idSenha" name="idSenha" type="password" placeholder="Digite a senha" class="form-control input-md" required="" #senha>

  </div>
</div>

<!-- Select Basic -->
<!--
<div class="form-group">
  <label class="col-md-4 control-label" for="idAdmin">Nível</label>
  <div class="col-md-5">
    <select id="idAdmin" name="idAdmin" class="form-control">
      <option value="1">Administrador</option>
      <option value="2">Usuário</option>
    </select>
  </div>
</div>
-->

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="idConfirmar"></label>
  <div class="col-md-8">
    <button id="idConfirmar" name="idConfirmar" class="btn btn-primary" (click)="cadastrarUsuario(email.value,login.value, senha.value)">confirmar</button>
    <!--<button id="idCancelar" name="idCancelar" class="btn btn-danger">Cancelar</button>--><!-- ta na tocaia aki-->
  </div>
</div>

</fieldset>
</form>
